POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=
RUSTFS_BUCKET_NAME=
RUSTFS_ENDPOINT=
DATABASE_URL=
RUST_LOG=info
VITE_API_URL=http://localhost:8000
# === OPTIONAL VARIABLES ===
BIND_ADDR= http://127.0.0.1:8000
MAX_FILE_SIZE=52428800
IDENTIFY_MAX_FILE_SIZE=8388608
CORS_ALLOWED_ORIGINS=
